body {
  font-family: serif;
  background-color: antiquewhite;
  margin-right: 20%;
  margin-left: 20%;
}

h1 {
  background-color: black;
  color: white;
  text-align: center;
}

#image {
  align-items: center;
}

p {
  text-indent: 5%;
  text-align: justify;
}

footer {
  padding-top: 20px;
}
.footer-text {
  text-align: center;
}
