body {
  font-family: serif;
  background-color: antiquewhite;
  margin-right: 20%;
  margin-left: 20%;
}

h1 {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}

p {
  text-indent: 5%;
  text-align: justify;
}

footer {
  padding-top: 20px;
}
.footer-text {
  text-align: center;
}
